@model IEnumerable<DBModel.Market>

@{
    Layout = "LayoutReviewer.cshtml";
}

<h2>Rejeitados</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Criado por</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var market in Model)
    {
        <tr>
            <td>@market.marketName</td>
            <td>@market.marketLocal</td>
            <td>
                <a class="btn btn-danger btn-sm"
                   asp-controller="Reviewer"
                   asp-action="DeleteMarket"
                   asp-route-id="@market.ID">
                    Deletar
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>